    .bg {
        animation:slide 10s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, #191919 60%, #2e2900 10%);
        bottom:0;
        left:-50%;
        opacity:.4;
        position:fixed;
        right:-50%;
        top:0;
        z-index:-1;
      }
      
      .bg2 {
        animation-direction:alternate-reverse;
        animation-duration:15s;
      }
      
      .bg3 {
        animation-duration:12s;
      }
      
      @keyframes slide {
        0% {
          transform:translateX(-25%);
        }
        100% {
          transform:translateX(25%);
        }
      }