.card {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #1a1910;
    border-radius: 1rem;
    border: 2px solid #e2bc2e;
    padding: 1rem;
    margin: 4rem 0;

}

@media (max-width: 600px) {
    .card {
        width: 85%;
        margin: 1.5rem 0;
    }
}