.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.text {
  color: white;
  font-family: "Quicksand";
  padding: 0.75rem 0;
  text-align: center;
}

a {
  color: rgb(255, 206, 43);
}

.header {
  font-size: 1.5rem;
  font-weight: 700;
}

.body {
  font-size: 1rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

header {
  font-size: 1.5rem;
  color: white;
  font-family: "Quicksand";
  margin-bottom: 1rem;
  font-weight: 700;
  text-align: center;
}

.inputs {
  display: flex;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 1.5rem;
  width: 70%;
  height: 3.5rem;
  outline: none;
  border: 0px solid transparent;
  background-color: #3d3d27;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1rem;
  border-radius: 0.4rem;
  margin: 0.8rem 0;
  text-align: center;
}


.buttons {
  background-color: rgb(255, 206, 43);
  color: Black;
  width: 70%;
  height: 3.5rem;
  border-radius: 0.4rem;
  margin: 1rem 0;
  border: 0px solid transparent;
  font-weight: 700;
  font-size: 1.25rem;
  cursor: pointer;
}

.buttons:disabled {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.925);
  opacity: 0.7;
  filter: "alpha(opacity=70)";
  cursor: not-allowed;
}

.network_error {
  color: red;
  font-size: 24px;
}

.buttons:hover {
  animation: pulse 0.3s forwards;
  transition: 0.3s;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.logo {
  margin-top: 1rem;
  width: 125px;
  height: 125px;
  border-radius: 50%;
}



.twitter {
  display: flex;
  color:rgb(255, 206, 43);
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.twitter p {
  font-size: 1.5rem;
  margin-left: 0.75rem;
}

@media (max-width: 600px) {
  .logo {
    width: 100px;
    height: 100px;
  }

  .inputs {
    font-size: 0.75rem;
  }

  header {
    font-size: 1.25rem;
  }

  .header {
    font-size: 1.25rem;
  }

  .twitter {
    margin-top: 0.75rem;
  }

  .twitter p {
    font-size: 1.25rem;
    margin-left: 0.5rem;
  }

  .twitter img {
    width: 30px;
    height: 30px;
  }

}
